.tracker-enter{
    transform: translate(100%);
    opacity: 0;
}
.tracker-enter-active{
    transform: translate(0);
    opacity: 1;
    transition: all 0.25s ease-in-out;
}
.tracker-exit{
    transform: scale(1);
}
.tracker-exit-active{
    transform: scale(0.1);
    transition: all 0.25s ease-in-out;
}